<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:include filename="wheel.urdf.xacro" />
	<joint name="base_joint" type="fixed">
		<parent link="base_link" />
		<child link="bot_base" />      
	</joint>
	<link name="base_link">
	</link>
	<link name="bot_base">
		<visual>
			<origin xyz="0.0615 0.0 0.025" rpy="0.0 0.0 ${pi}" />
			<geometry>
				<!-- <box size="0.3 0.2 0.1" /> -->
                <mesh filename="package://diff_bot/description/meshes/Base.stl"  />
			</geometry>
			<material name="orange">
				<color rgba="1.0 0.5 0.0 1.0" />
			</material>
		</visual>
		<collision>
			<origin xyz="0.0615 0.0 0.025" rpy="0.0 0.0 ${pi}" />
			<geometry>
				<!-- <box size="0.3 0.2 0.1" /> -->
                <mesh filename="package://diff_bot/description/meshes/Base.stl"  />
			</geometry>
		</collision>
	</link>
	<xacro:wheel suffix="left" parent="bot_base">
		<origin xyz="0.0 -0.083 0.046" rpy="0.0 0.0 0.0 " />
	</xacro:wheel>
	<xacro:wheel suffix="right" parent="bot_base">
		<origin xyz="0.0 0.083 0.046" rpy="${pi} 0.0 0.0" />
	</xacro:wheel>
	<joint name="castor_joint" type="fixed">
		<parent link="bot_base" />
		<child link="castor_wheel" />
		<axis xyz="0.0 0.0 0.0" />
		<origin xyz="0.135 0.0 0.0075" rpy="0.0 0.0 0.0" />
	</joint>
	<link name="castor_wheel">
		<visual>
			<material name="black">
				<color rgba="0.0 0.0 0.0 1.0" />
			</material>
			<geometry>
				<sphere radius="0.007" />
			</geometry>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.007" />
			</geometry>
		</collision>
	</link>
</robot>
